<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="com.nortal.telecom.smsgateway" />

	<bean id="messageFactory"
		class="org.springframework.ws.soap.axiom.AxiomSoapMessageFactory">
		<property name="payloadCaching" value="false" />
	</bean>

	<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath">
			<list>
				<value>com.nortal.telecom.smsgateway.model.sendsms
				</value>
				<value>com.nortal.telecom.smsgateway.model.receivesms
				</value>
				<value>com.nortal.telecom.smsgateway.model.adminservice
				</value>
			</list>
		</property>
	</bean>
	
	<bean id="sendSmsWebServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
		<constructor-arg ref="messageFactory" />
		<property name="defaultUri"
			value="https://10.2.13.16:7004/smsgw-soap/services/SendSms" />
		<property name="marshaller" ref="marshaller" />
		<property name="unmarshaller" ref="marshaller" />
		<property name="faultMessageResolver" ref="smsSoapFaultMessageResolver"/>
	</bean>

	<bean id="receiveSmsWebServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
		<constructor-arg ref="messageFactory" />
		<property name="defaultUri"
			value="https://10.2.13.16:7004/smsgw-soap/services/ReceiveSms" />
		<property name="marshaller" ref="marshaller" />
		<property name="unmarshaller" ref="marshaller" />
		<property name="faultMessageResolver" ref="smsSoapFaultMessageResolver"/>
	</bean>

	<bean id="smsSoapFaultMessageResolver"
		class="com.nortal.telecom.smsgateway.error.SmsSoapFaultMessageResolver" />

</beans>